body{
    background-color: white;
    margin:0px;
    padding:0px;
    font-family: Verdana;
    
    
}
.logo img{

    float:left;
    width:300px;
    height:auto;
    margin-left:15px;
    padding-left:15px;
    
}

.logo{
    display: inline;
    font-family: verdana;
    position:relative   ;
    list-style-type: none;
    margin:0px;
    
}

.backgroundimage{
background-image:url(../images/backgroundbanner.jpg);
height:500px;
width:1400px;
background-size:cover;
background-position:center;
margin:0px;
padding:0px;
}

.navbar {
   padding-right:20px;
   margin-right:10px;
    float:right;
    list-style-type: none;
    color:black;
}
.follow {
  background-color: blue;
  color:white;
}

.navbar li {

    display:inline-block;
    margin:10px;
 
}
.navbar li:hover{
    background-color: white;
    color:white;
    cursor:pointer;
}

p{
    background-color: light;
    color:black;
    font-size:20px;
    line-height: 25px;
    font-weight: inherit;
    text-transform: capitalize;
    text-align: center;
}

.bannerpara{
    background-color: lightcoral;
    position:relative;
    margin:0px;
    width:1400px;
    padding:20px;
    border:0px;
    text-align: center;
    
    
}
.Product_range{
    width:1400px;
    margin:0px;
    background-color: transparent;
    color:black;
     
}
.image{
    width:500px;
    float:left;
    list-style-type: none;
    text-decoration: none;
}
.image li{
    width:500px;
    list-style-type: none;
    float:left;
}
.image li:hover{
    width:500px;
    background-color: green;
    cursor:pointer;

}
.product_1{
    width:700px;
    background-color: azure;
    color:black;
    font-size:18px;
    font-weight: 600;
    text-transform: capitalize;
    float:right;
}
.product_1 li{
    list-style-type: none;
}
.button{
    padding:20px; width:20px; border:100px; background-color: lightcoral; font-weight: bold;
}
.button:hover{
      background-color: cyan;
      cursor:pointer;
      color:green;
}
.bannerpara p{

    color:black;
    width:1400px;
    margin-top:0px;

    font-size:20px;
    font-weight:bold;
    margin:0px;
    padding:0px;
    border:0px;
    text-align: center;

}

.footer{
    background-color: lightblue;
    color:black;
    list-style-type: none;
    margin-right:10px;
    display:inline;
    font-size:15px;
    padding-right:15px;
    width:1400px;
    font-weight: bold;
    line-height: 25px;
    text-transform: capitalize;
    text-align: center;
    float:left;

}

.footer img{
    float:left;
    width:300px;
    height:auto;
    display:inline;
    padding-left:10px;
    margin-left:15px;
}

.navbar-footer li {

    display:inline-block;
    margin:10px;
 
}
.navbar-footer li:hover{
    
    background-color: white;
    color:black;
    cursor:pointer;
}

.navbar-footer {
    float:right;
    margin-right:20px;
    padding:10px;
    
    list-style-type: none;
    color:white;
}

.Property{
    background-color: lightgreen;
    color:black;
    font-size:25px;
    width:1400px;
    height:1400px;
    padding-top:10px;
    font-weight: inherit;
    text-transform: capitalize;
    text-align: center;
}
/*.segment{
    background-color:transparent;
    color:black;
    font-size:18px;
    line-height: 15px;
    text-transform: capitalize;
    font-weight: 600;
    
}*/

.segment1{
    color:black;
    width:400px;
    float:left;
    font-size: 18px;
    line-height: 15px;
    text-transform: capitalize;

}

.segment2{
    color:black;
    font-size:18px;
    width:400px;
    line-height: 15px;
    text-transform: capitalize;
    float:right;
}

.segment3{
    color:black;
    width:400px;
    font-size:18px;
    line-height: 15px;
    text-transform: capitalize;
    float:left;
}

.segment1 li:hover{
    background-color: green;
    color:white;
    cursor:pointer;
}
.segment1,.segment2,.segment3 li{
    list-style-type: none;
}
.segment2 li:hover{
    background-color: green;
    color:white;
    cursor:pointer;
}

.segment3 li:hover{
    background-color: green;
    color:white;
    cursor:pointer;
}

.building{
    background-color:transparent;
    color:black;
    width:1400px;
    height: 400px;
    font-size:18px;
    line-height: 15px;
    text-transform: capitalize;
    font-weight: 600;
    
}
.building1{
    color:black;
    width:400px;
    font-size: 18px;
    line-height: 15px;
    text-transform: capitalize;
    float:left;
}

.building2{
    color:black;
    width:400px;
    font-size:18px;
    line-height: 15px;
    text-transform: capitalize;
    float:right;
}
.building1 li{
    list-style-type: none;
}
.building2 li{
    list-style-type: none;
}
.copper{
    background-color:transparent;
    color:black;
    width:1400px;
    height:200px;
    font-size:18px;
    line-height: 15px;
    text-transform: capitalize;
    font-weight: 600;
    
}

.copper1{
    color:black;
    width:400px;
    font-size: 18px;
    line-height: 15px;
    text-transform: capitalize;
    float:left;
}
.copper1,.copper2 li{
    list-style-type: none;
}

.copper2{
    color:black;
    width:400px;
    font-size: 18px;
    line-height: 15px;
    text-transform: capitalize;
    float:right;
}
h3, h4{
    text-align: center;
    text-transform: capitalize;
}
.Energymanagement{
    background-color:transparent;
    color:black;
    font-size:18px;
    width:1400px;
    height:500px;
    line-height: 15px;
    
    text-transform: capitalize;
    font-weight: 600;
}

.energy1{
    color:black;
    font-size: 18px;
    line-height: 15px;
    width:700px;
    padding:20px;
    text-transform: capitalize;
text-align: center;
}

.energy1 li{
    list-style-type: none;
}